<form class="container" (submit)="onOk($event)">
  <h1 mat-dialog-title>Countdown Setting</h1>
  <div class="content" mat-dialog-content>
    <mat-form-field class="input-wrapper">
      <input
        matInput
        type="time"
        [formControl]="timeControl"
        placeholder="Time"
      />
    </mat-form-field>
    <mat-form-field class="input-wrapper">
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Password"
      />
    </mat-form-field>
    <div class="action-bar" mat-dialog-actions>
      <button mat-button type="button" (click)="onNoClick()">Close</button>
      <button
        mat-button
        [disabled]="!timeControl.value"
        cdkFocusInitial
        type="submit"
        color="primary"
      >
        Ok
      </button>
    </div>
  </div>
</form>
