<div class="container">
  <a routerLink="/admin">
    <div [ngClass]="{ 'text-background': true, warn: isEnd }">
      <p *ngIf="text" class="showing-text">{{ text }}</p>
      <p [ngClass]="{ 'countdown-text': true, warn: isEnd }">
        <span *ngFor="let letter of timeLetters">
          {{ letter }}
        </span>
      </p>

    </div>
    <img class="sponsor-container" src="/assets/spon.png" />
    <img class="ywc-logo" src="/assets/ywc-logo.png" />
    <img class="ywc-logo-2" src="/assets/ywc-logo-2.png" />
  </a>
</div>
