.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
  background-image: url('/assets/bg012.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.live-mode {
  background: green;
  .countdown-text{
    text-shadow: none;
  }
}

.text-background {
  padding: 10em 15.5em;
  display: flex;
  max-width: 100%;
  cursor: pointer;
  background-image: url('/assets/ywc-18-countdown-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;

  &.warn {
    filter: saturate(2);
  }
}

@keyframes text-warning {
  0% {
    color: #f37637;
    transform: scale(1);
  }
  25% {
    color: #fefefe;
  }
  50% {
    color: #f37637;
    transform: scale(1.2);
  }
  75% {
    color: #fefefe;
  }
  100% {
    color: #f37637;
    transform: scale(1);
  }
}

.countdown-text {
  font-size: 5.6em;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  span {
    width: 1em;
    display: inline-block;
    text-align: center;
  }
  &.warn {
    animation: text-warning 2s infinite;
  }

  @media screen and (max-width: 800px) {
    font-size: 2.6em;
  }

  @media screen and (max-width: 600px) {
    font-size: 2em;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.6em;
  }
}

.showing-text {
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  width: 100vw;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.05);
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.sponsor-container {
  position: fixed;
  bottom: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  left: 50%;
  width: 43em;
  transform: translateX(-50%);
}

.sponsor {
  height: 120px;
  width: 120px !important;
  object-fit: contain;
  background-color: white;
  width: auto;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 24px;
}

.ywc-logo {
  position: fixed;
  left: 1.5em;
  top: 1.5em;
  width: 15em;
}

.ywc-logo-2 {
  position: fixed;
  right: 1.5em;
  top: 1.5em;
  width: 12.5em;
}
