@import '~firebaseui/dist/firebaseui.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ywc17-countdown-primary: mat-palette($mat-pink, 600, 400, 800);
$ywc17-countdown-accent: mat-palette($mat-yellow, 600, 400, 800);

// The warn palette is optional (defaults to red).
$ywc17-countdown-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ywc17-countdown-theme: mat-light-theme(
  $ywc17-countdown-primary,
  $ywc17-countdown-accent,
  $ywc17-countdown-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ywc17-countdown-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #111;
  color: #fefefe;
}

a {
  text-decoration: none;
  color: #fefefe;
}
